# Pandas Basic <hr style ="border:2.5px solid #673886ff">

<b>Perez, Harold A.
<br>Computer Engineering Technology

In [6]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [4]:
data = {
    'Name': ['Henry', 'Owen', 'Ada'],
    'Age': [22, 35, 58],
    "Sex": ['M', 'M', 'F']
}

In [5]:
df = pd.DataFrame(data)
print(df)

NameError: name 'pd' is not defined

Series

In [ ]:
age_col = df['Age']

In [ ]:
type(age_col)

In [ ]:
age_col

Descriptive Statistics