# For Loop <hr style ="border:2.5px solid #673886ff">

<b>Perez, Harold A.
<br>Computer Engineering Technology

# Iterating Over a List

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [5]:
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# Iteration Over a Dictionary

In [8]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [24]:
# key value pair
employee = {"name": [ "Ada Wong", "Jerow Amelo" ],
            'position':[ "Data Analyst", "Adriano's Media Handler"],
            "salary":[ 85000, 1500]}

for key, value in employee.items():
    print(f"{key}: {value}")

name: ['Ada Wong', 'Jerow Amelo']
position: ['Data Analyst', "Adriano's Media Handler"]
salary: [85000, 1500]

In [25]:
employee ['salary']

[85000, 1500]

In [26]:
for value in employee.values():
    print(value)

['Ada Wong', 'Jerow Amelo']
['Data Analyst', "Adriano's Media Handler"]
[85000, 1500]

# Lambda Function

In [27]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [38]:
x = 4

x = (lambda x: 2*x)(x)
x

8